:root {
    --accent-color: #2196F3;
    --logo-color: #000000;
    --title-color: #FFFFFF;
    --desk-color: #757575;
    --color: #212121;
    --background-color1: #F5F4FA;
    --background-color: #2F303A;
    --border-color: #EEE;
    --border-portfolio: #ECECEC;
    --clients-border: #AFB1B8;
    --footer-border-color: #44454e;
    --modal-color: #212121;
    --modal-border-color: #d3d3d3;
    --modal-placehorlder: #bababa; 
    --modal-btn: #188CE8;
}
/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px; 
    margin: 0 auto; 
}

/* Хедер */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-portfolio {
    border-bottom: 1px solid var(--border-portfolio);
}

header > .container {
    display: flex;
}

.logo-header1 {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-header2 {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo {
    margin-right: 93px;
}

.logo:focus {
    outline: none;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-items {
    display: flex;
    gap: 50px;
}

.header-item {
    position: relative;
}

.header-nav {
    color: var(--color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav::after {
    content: '';
    position: absolute;
    bottom: -33.7px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.header-nav-golovna::after, .header-nav-portfolio::after {
    content: '';
    opacity: 1;
}

.header-nav-golovna, .header-nav-portfolio {
    color: var(--accent-color);
}

.header-nav:hover, .header-nav:focus, .header-nav:hover::after, .header-nav:focus::after {
    outline: none;
    opacity: 1;
    color: var(--accent-color);
}

.header-roster {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 318px;
}

.roster-item {
    position: relative;
}

.roster-link {
    display: flex;
    gap: 10px;
    color: var(--desk-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.roster-link:hover, .roster-link:focus, .roster-link:hover::after, .roster-link:focus::after {
    opacity: 1;
    outline: none;
    color: var(--accent-color);
    .roster-img{
        fill: var(--accent-color);
    }
}

.roster-link::after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: 0;
}

.roster-img {
    width: 16px;
    height: 12px;
    margin-top: auto;
    margin-bottom: auto;
    fill: var(--desk-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.roster-item:nth-child(2) > .roster-link > .roster-img {
    height: 16px;
}

.roster-item:nth-child(2) > .roster-link > .roster-span {
    width: 122px;
}

/* Головна */

.decision {
    text-align: center;
    /* background-color: var(--background-color); */
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/ofis.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.decision-title {
    width: 696px;
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.decision-btn {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88; /* 187.5% */
    letter-spacing: 0.96px;   
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decision-btn:hover, .decision-btn:focus {
    outline: none;
    background-color: var(--clients-border);
    color: var(--background-color);
    cursor: pointer;
}

.we {
    padding-top: 94px;
    display: flex;
}

.we-items {
    display: flex;
    gap: 30px;
}

.we-item:nth-child(1):before {
    content: "";
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    display: block;
    border-radius: 4px;
    background-image: url(../img/antena.jpg);
}

.we-item:nth-child(2):before {
    content: "";
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    display: block;
    border-radius: 4px;
    background-image: url(../img/timer.jpg);
}

.we-item:nth-child(3):before {
    content: "";
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    display: block;
    border-radius: 4px;
    background-image: url(../img/planing.jpg);
}

.we-item:nth-child(4):before {
    content: "";
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    display: block;
    border-radius: 4px;
    background-image: url(../img/kosmonaft.jpg);
}

.we-title {
    color: var(--color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}

.we-subtitle {
    color: var(--desk-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.make {
    padding-top: 94px;
    padding-bottom: 94px;
}

.make-title {
    color: var(--color);
    text-align: center;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.make-items {
    display: flex;
    gap: 30px;
}

.make-item {
    position: relative;
}

.make-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.make-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.80);
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color1);
}

.team-title {
    color: var(--color);
    text-align: center;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    background-color: var(--title-color);
    padding-bottom: 30px;
}

.box-team-item {
    padding-top: 30px;
    padding-bottom: 16px;
    border-radius: 0px 0px 4px 4px;
}

.team-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.team-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}

.team-heading {
    color: var(--color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.team-text {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-element-link {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 12px;
    background-color: var(--title-color);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-element-link:hover, .team-element-link:focus {
    outline: none;
    background-color: var(--accent-color);
    .team-element-img{
        fill: var(--title-color);
    }
}

.team-element-img {
    width: 20px;
    height: 20px;
    fill: var(--clients-border);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    color: var(--color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-items {
    display: flex;
    justify-content: space-between;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--clients-border);
    width: 170px;
    height: 92px;
    fill: var(--clients-border);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
    outline: none;
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}


.clients-img {
    width: 106px;
    height: 60px;
}

/* Футер */

.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer1 {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-footer2 {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-logo:focus {
    outline: none;
}

.footer > .container {
    display: flex;
}

.footer-address {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-items {
    margin-top: 20px;
}

.footer-item {
    margin-bottom: 9px;
    font-style: normal;
}

.footer-item:last-child {
    margin-bottom: 0px;
}

.footer-link {
    color: var(--desk-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-link:focus, .footer-link-white:focus {
    outline: none;
}

.footer-networks {
    padding-top: 12px;
    margin-left: 70px;
}

.footer-title {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    gap: 10px;
}

.footer-element-link {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 12px;
    background-color: var(--footer-border-color);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-element-link:hover, .footer-element-link:focus {
    background-color: var(--accent-color);
    outline: none;
}

.footer-element-img {
    width: 20px;
    height: 20px;
    fill: var(--title-color);
}

.mailing {
    margin-top: 12px;
    margin-left: 93px;
}

.mailing-form {
    display: flex;
}

.mailing-signature {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}

.mailing-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    margin-right: 12px;
}

.mailing-input:focus {
    outline: none;
}

.mailing-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-top: 36px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-btn:hover, .mailing-btn:focus {
    outline: none;
    background-color: var(--clients-border);
    color: var(--background-color);
    cursor: pointer;
    .mailing-img{
        fill: var(--background-color);
    }
}

.mailing-img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--title-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Портфоліо */

.goods {
    padding-top: 94px;
    padding-bottom: 50px;
}

.goods-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.goods-btn {
    color: var(--color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;

    border-radius: 4px;
    background: var(--background-color1);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 25px;
    padding-left: 25px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goods-btn:hover, .goods-btn:focus {
    cursor: pointer;
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    outline: none;
}

.goods-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.goods-item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goods-item:hover,.goods-item:focus{
    .goods-opacity{
        opacity: 1;
    }
}

/* З цим фокусом допоміг ChatGPT */

.goods-item:hover, .goods-item:focus-within {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.goods-item:focus-within .goods-opacity {
    opacity: 1;
}

.goods-link:focus {
    outline: none;
}

.goods-img {
    width: 100%;
}

.goods-opacity {
    background: rgba(33, 150, 243, 0.90);
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goods-opacity-text {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.54px;
}

.goods-box {
    border: 1px solid var(--border-color);
    border-top: none;
    width: 370px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.goods-caption {
    color: var(--color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
}

.goods-text {
    color: var(--desk-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
}

/* ============ Модальне вікно ============ */

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(88, 88, 88, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    padding: 40px;
    border-radius: 4px;
    background: var(--title-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: relative;
}

.modal-title {
    color: var(--modal-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.modal-signature {
    color: var(--desk-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0.12px;
    display: block;
    margin-bottom: 4px;
}

.input-box {
    position: relative;
}

.modal-input {
    width: 448px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid var(--modal-border-color);
    padding-left: 42px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

.modal-input:hover + .input-img,
.modal-input:focus + .input-img {
    fill: var(--accent-color);
}

.input-img {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 11px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    display: block;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--modal-border-color);
    resize: none;
    padding: 12px 16px;
    color: var(--modal-placehorlder);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.12px;
    margin-bottom: 20px;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover, .modal-textarea:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-chek-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-chekbox {
    width: 16px;
    height: 15px;
    margin-right: 7px;
}

.modal-text {
    color: var(--desk-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.modal-link {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.modal-btn {
    padding: 10px 52px;
    border-radius: 4px;
    background: var(--modal-btn);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
    background-color: var(--clients-border);
    color: var(--background-color);
    cursor: pointer;
    outline: none;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    border: 1px solid var(--modal-border-color);
    padding: 6px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-img {
    width: 18px;
    height: 18px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    outline: none;
    .modal-close-img{
        fill: var(--accent-color);
        cursor: pointer;
    }
}